.rodapes {
    max-width: 100%;
    background-color: #5068F1;
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

.rodapes .midias {
    padding: 10px 0px 10px 0px;
    scale: 70%;
    margin-top: 5px;
}

.rodapes .midias img {
    margin-left: 18px;
    margin-right: 18px;
}

.rodapes .logo {
    scale: 70%;
}

.rodapes .direitos {
    color: white;
    margin-top: 5px;
}